extends layout

block content
    div.container
        div.page-header
            h1 Error #{error.status}
        div.panel.panel-danger
            div.panel-heading
                h2.panel-title #{message} 
            if error.message
                div.panel-body
                    pre #{error.stack}
