{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Error {{ error.status }}</h1>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">{{ message }}</h2>
            </div>
            {% if error.message %}
                <div class="panel-body">
                    <pre>{{ error.stack }}</pre>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}