<!DOCTYPE html>
<html lang="fr" ng-app="app" ng-controller="appCtrl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1">

        <title>{{ title }}</title>	

        <script src="/js/lib/head.js"></script>
        <link rel="stylesheet" href="css/styles.css" media="screen">

        <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
        <script src="/js/ie/html5shiv.js"></script>
        <script src="/js/ie/respond.js"></script>
        <![endif]-->
    </head>

    <body>
        {{ block('header') }}
        {{ block('content') }}
        {{ block('footer') }}
   </body>
</html>